<section>
            <div class="companyDetailsBg addCompanyDetail">
                <div class="profileHead">All Company List</div>
                
                <div class="clear">&nbsp;</div>
            <div class="col-xs-12 col-sm-6 perCompanyBox" ng-repeat="company in companies">
                <div class="profileHead2" ng-init="limit = 13; moreShown = false"> <span class="companyIconClass"> </span> <a href="#/project" ng-click="setCompanyId(company.id)">{{company.companyName | limitTo: limit}}{{company.companyName.length > limit ? '...' : ''}}</a></div>
                <a href="javascript:void(0)" ng-click="$parent.selectedIndex = $index;showOptions($index,$event)" class="settingsIcon companySettingIcon"> </a>
                  <!-- <span class="companySettingIcon"></span>  -->
                <div class="settingsPop" ng-show="$parent.selectedIndex == $index?visible:false">
                        <ul>
                            <li><a href="javascript:void(0)" ng-click="showCompanyPopup('EditCompany',company.id,company.companyName )">Edit Company</a></li>
                            <li><a href="javascript:void(0)" ng-click="showCompanyPopup('DeleteCompany',company.id,company.companyName)">Delete Company</a></li></ul></div>
                <ul class="projectUl">
                   <li ng-repeat="project in company.projects" ng-if="$index <= 1"><a href="#/project" ng-click="setCompanyId(company.id)">{{ project.projectName}}</a></li>
                </ul>
                <a class="moreClass" ng-click="setCompanyId(company.id)" ng-if="company.projects.length > 2" href="#/project">more <span class="companyArrowIcon"> </span></a>
            </div>
                
            </div>
            <!-- <div class="page_messages secureMessages" ng-style="mfaStyle">
            <div class="headsup-close-button" ng-click="mfaStyle={display:'none'}">
                <i class="fa fa-times secureLoginCloseIcon"></i></div>
                <div class="innerhtml">
                <h3>Secure your login</h3>
                <p>Set up <a href="#/mfa" >MFA</a> for extra layer of security.</p>
                </div>
          </div> -->
        <div class="page_messages">
              
           <div class="slidePopUpCommon projectSlidePopUp" ng-show="mfaStyle" >
               <h3 class="whiteText boldFont">Secure your login</h3>
                <p class="whiteText">Set up <a href="#/mfa" >MFA</a> for extra layer of security.</p>
                <i id="projectCloseBtn" class="fa fa-times secureLoginCloseIcon" ng-click="mfaStyle=false"></i>
           </div>
            <div class="slidePopUpCommon companySlidePopUp" ng-show="createStyle">
               <h3 class="whiteText boldFont">Create new company</h3>
               <i id="companyCloseBtn" class="fa fa-times secureLoginCloseIcon" ng-click="createStyle=false"></i>
           </div>
            
          </div>

<script>
// $(document).ready(function(){

//     $(".page_messages").animate({right: "0"}, "slow").delay(10000)
//     .animate({right: '-300px'}, "slow");


//     $('#projectCloseBtn').click ( function(){

//         $('.projectSlidePopUp').hide();

//     });

//     $('#companyCloseBtn').click ( function(){

//         $('.companySlidePopUp').hide();

//     });

   



// setTimeout(function(){
//         $('.page_messages').hide(500);
//     }, 5000);

// });



</script>
</section>