<section class="manageGroupSection alertMain Lopaclass">
 <div class="manageRoleRight">
    <div class="manageRoleHeading">Manage Group</div>
    <div class="clear"></div>
            <alert class="alert-success" ng-show='success' type="{{success}}" close='success=null'>Success Message</alert>
            <!-- <alert class="alert-danger" ng-show='success' type="{{success}}" close='removeAlert()'>sdfds</alert>
            <alert class="alert-warning" ng-show='success' type="{{success}}" close='removeAlert()'>sdfds</alert> -->
    {{createEditDeleteGroupStatus}}
    <div class="roleDetailsSec">
        <div class="table-wrapper">
            <table class="commonTbMain commonThpadding mansgeGroupSection manageGrpTable">
                <thead>
                    <tr>
                        <!-- <th>Group Id</th> -->
                        <th>Group Name</th>
                        <th>Number Of Users</th>
                        <th>Role associated with this group</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="trclass" ng-repeat="group in groupsData"> 
                        <!-- <td>Group Id</td> -->
                        <td>{{group.groupName}}</td>
                        <td ng-if="group.count == undefined">0</td>
                        <td ng-if="group.count != undefined"><a href="javascript:void(0)" ng-click="open('listOfUser',$index)" class="buttonLink">{{group.count}}</a></td>
                        <td>{{group.roleName}}</td>
                        <td class="paddingTopBottom">
                            <div class="actionTdwidth">
                               <i class="fa fa-caret-down dropdownRoleDetails" aria-hidden="true" ng-click="$parent.selectedIndex = $index;showOptions($index,$event)"></i>
                               <div class="clear"></div>
                               <ul class="settingsPop actionList" ng-show="$parent.selectedIndex == $index?visible:false">
                                <li><a href="javascript:void(0)" ng-click="editGroup($index)">Edit Group</a></li>
                                <li ng-hide="group.groupId == 1 || group.groupId == 2"><a href="javascript:void(0)" ng-click="openPopUp('DeleteGroup',$index)">Delete Group</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
</section>