<section class="processListTbSec">
<div class="runScriptBox">
              <div class="blueHeading boldFont">Run script</div>
              <form name="runScriptForm" autocomplete="off" novalidate>
              <div class="runScriptbodyModal">     
                    <!-- <label class="modalLabel">User script</label> -->
                    <textarea  id="Text4" class="runScriptText" ng-model="runScriptEachServer" name="runScriptEachServer" placeholder="Enter your script" required ></textarea>
                    <span class="colorRed" ng-show="runScriptForm.runScript.$error.required">Run Script must be filled.</span>
              </div>
              <div>
              <!-- <input class="cancelRoleBtn" type="submit" ng-click="close()" value="OK" class="btn btn-primary" /> -->
              </div>
              </form>          
</div>
<input class="cancelRoleBtn refreshBtn" type="submit" ng-click="close()" value="OK" class="btn btn-primary" />
</section>