<section class="eachServiceDetailsSec">
 <!--  <div class="fade" ng-class="{true: 'processListTbFade'}[visibleUserList]"> -->
  <div class="blueHeading boldFont"> User List</div>
  <button class="addUserButton boldFont"  ng-click="open('addUserOpen')"> <span class="eachAdduserIcon"></span> Add User</button>
  <div class="clear"></div>
  <div class="tableDv">
    <div class="clear"></div>
    <table class="commonTbMain commonThpadding userListTble">
      <thead>
        <tr>
          <th>Sr. No. </th>
          <th>User List</th>
          <th>User Access Level</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr class="trclass" ng-repeat="userListArr  in userListName ">
          <td>{{$index}}</td>
          <td>{{userListArr[0]}} </td>
          <td>
            <button class="rootGreyButton" ng-class="{rootButton: userListArr[1] =='root'}" ng-click="GetDetailsindex(userListArr)"> <span class="rightSignIcon" ng-if="userListArr[1] =='root'"></span>root</button>
            <button class="rootGreyButton" ng-class="{rootButton: userListArr[1] =='user'}" ng-click="GetDetailsindexUser(userListArr)"><span class="rightSignIcon" ng-if="userListArr[1] =='user'"></span>User</button>
          </td>
          <td> 
            <button class="rootGreyButton deleteIconButton" ng-click="deleteUser(userListArr)"> <span class="deleteIcon"></span> Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!--   </div> -->
      <!--   <div class="processListTbSec fade" ng-class="{true: 'processListTbFade'}[visible_AddUser]">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" ng-click="open('userCancel')" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h2 class="modal-title">Add User</h2>
              </div>              
              <form name="emailFormAdd" autocomplete="off" novalidate>
              <div class="bodyModal">              
                   <p>
                        Please enter the user email:
                    </p>
                    <label class="modalLabel">User Email</label>
                    <input id="Text4"  type="text" ng-keyup="showUsers()" ng-model="userEmailAdd" name="userEmailAdd" placeholder="Enter user email" required />
                    
                    <div class="usersList" ng-show="users.length > 0 ? listStatus : false">
                        <ul>
                            <li ng-repeat="user in users" ng-click="setUser(user)"><a href="javascript:void(0)">{{ user.uname + " - " + user.email}}</a></li>
                        </ul>
                    </div>                    
                    <span class="colorRed" ng-show="!emailValid">Email is invalid.</span>
                    
                    <span class="colorRed" ng-show="emailFormAdd.userEmailAdd.$error.required">User Email must be filled.</span>
             </div>
              <div class="modal-footer">

                <input class="btn btn-primary" type="submit" ng-click="open('userOk')" value="OK" class="btn btn-primary" />
                <button class="btn btn-default" type="button" ng-click="open('userCancel')" class="btn btn-default" data-dismiss="modal">Cancel</button>                

              </div>
              </form>            
            </div>
          </div>
        </div> -->
      </section>
      <script>
        $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip();  
          $("a").tooltip(); 
        });
      </script>