<section class="CreateNewGroupSec">
    <div class="manageRoleRight">
        <div class="manageRoleHeading">{{editCreateGroup}}</div>
        <p class="pageNavigation"> <a ui-sref="iam.manageGroup">Manage Group > </a> {{editCreateGroup}}  </p>
        <div class="roleDetailsSec">
            <form class="createNewGroup">
                <div class="formWrapper">
                    <label class="formlabel" for="male">Group Name</label>
                    <input type="text" ng-model="groupName" class="inputTextArea">
                    <span style="color:red" ng-if="groupName.length==0"><b>{{groupNameValidation}}</b></span>
                </div>
                <div class="clear"></div>
                    <div class="formWrapper">
                    <label class="formlabel">Select Group Members</label>
                    <div class="fastselectMainDiv">
                        <multiple-autocomplete ng-model="users" suggestions-arr="userList" after-select-item="afterSelectItem" after-remove-item="afterRemoveItem">
                        </multiple-autocomplete>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="formWrapper">
                    <label class="formlabel">Select Group Roles</label>
                    <div class="fastselectMainDiv">
                        <multiple-autocomplete ng-model="roles" suggestions-arr="roleList" after-select-item="afterSelectItem" after-remove-item="afterRemoveItem">
                        </multiple-autocomplete>
                        <span style="color:red" ng-if="roles.length==0"><b>{{rolesValidation}}</b></span>
                    </div>
                </div>
                <div class="formWrapper">
                <label class="formlabel formLabelBlanck"> &nbsp; </label>
                <button class="createRoleBtn" ng-click="createEditGroup()"> {{editCreateGroup}} </button>
                <button class="cancelRoleBtn" ng-click="gotoManageGroups()"> Cancel </button>
                </div>
            </form>
        </div>
    </div>
</section>
