<section class="processListTbSec">
  <div class="runScriptBox">
                 <div class="clear">&nbsp;</div>
                <div class="blueHeading boldFont msgBoxHeader">Do you want to access the server. You will receive an email shortly.</div>
                <div class="clear"></div>
                <div class="runScriptBoxFooter">
                <input type="submit" ng-click="close('getAccessKeyOkButton')" value="OK" class="cancelRoleBtn" />
                <button type="button" ng-click="close('getAccessKeyCancelButton')" class="cancelRoleBtn" data-dismiss="modal">Cancel</button>
              </div>
              </div>
</section>