
<section class="manageRolesDetailsSec">
	<div class="manageRoleRight">
		<div class="manageRoleHeading">Manage Role</div>
		<p>{{createEditDeleteRoleStatus}}</p>
		<div class="roleDetailsSec ">

            <div class="table-wrapper">
            <table class="commonTbMain manageRolesTbMain">            
                <tr>
                    <th class="paddingTopBottom">Role Name</th>
                    <th>
                        <table class="manageRolesSubTb">
                            <tr>
                                <th colspan="4" class="borderLeftNone borderRightNone borderTopNone">Policy</th>
                            </tr>
                            <tr>
                                <th class="borderNone">Access</th>
                                <th class="borderBottomNone">Resource</th>
                                <th class="borderBottomNone">Resource id</th>
                                <th class="borderBottomNone">Policy Actions</th>
                            </tr>
                        </table>
                    </th>
                    <th class="actionTdwidth paddingTopBottom">Action</th>
                </tr>


                <tr class="trclassEven" ng-repeat="role in rolesData">

                    <td class="paddingTopBottom">{{role.roleName}}</td>
                    <td>
                        <table class="manageRolesSubTb">
                            <tr ng-repeat="eachpolicy in role.policy">
                                <td class="borderBottomNone borderTopNone borderRightNone borderLeftNone ">{{eachpolicy.access}}</td>
                                <td class="borderBottomNone borderTopNone borderRightNone ">{{eachpolicy.resource}}</td>
                                <td class="borderBottomNone borderTopNone borderRightNone ">{{eachpolicy.resourceId}}</td>
                                <td class="borderBottomNone borderTopNone borderRightNone">{{eachpolicy.activities}}</td>
                            </tr>
                        </table>
                    </td>
                    <td class="paddingTopBottom">
                    <div class="actionTdwidth">
                        <i id="dropdownRoleDetails" class="fa fa-caret-down dropdownRoleDetails" aria-hidden="true" ng-if="role.type =='user-defined'" ng-click="selectedIndex = $index;showRoleOptions($index)"></i>

                        <div class="clear"></div>

                        <ul class="settingsPop actionList" ng-show="selectedIndex == $index?visible:false" ng-if="role.type =='user-defined'">
                            <li><a href="javascript:void(0)" ng-click="editRole($index)">Edit Role</a></li>
                            <li><a href="javascript:void(0)" ng-click="deleteRole($index)">Delete Role</a></li>
                        </ul>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        </div>
    </div>
</section>
<!-- Manage Group -->


