<section class="manageGroupSection">
   <div class="manageRoleRight">
        <div class="manageRoleHeading">Manage Group</div>
        {{createEditDeleteGroupStatus}}
        <div class="roleDetailsSec">
            <div class="table-wrapper">
            <table class="commonTbMain commonThpadding mansgeGroupSection">
            <thead>
            <tr>
                <!-- <th>Group Id</th> -->
                <th>Group Name</th>
                <th>Number Of Users</th>
                <th>Role associated with this group</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                <tr class="trclass" ng-repeat="group in groupsData"> 
                    <!-- <td>Group Id</td> -->
                    <td>{{group.groupName}}</td>
                    <td ng-if="group.count == undefined">0</td>
                    <td ng-if="group.count != undefined">{{group.count}}</td>
                        <td>{{group.roleName}}</td>
                    <td class="paddingTopBottom">
                    <div class="actionTdwidth">
                         <i class="fa fa-caret-down" aria-hidden="true" ng-click="$parent.selectedIndex = $index;showOptions($index)"></i>
                        <div class="clear"></div>
                        <ul class="settingsPop actionList" ng-show="$parent.selectedIndex == $index?visible:false">
                            <li><a href="javascript:void(0)" ng-click="editGroup($index)">Edit Group</a></li>
                            <li ng-hide="group.groupId == 1 || group.groupId == 2"><a href="javascript:void(0)" ng-click="deleteGroup($index)">Delete Group</a></li>
                        </ul>
                    </div>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
        </div>
    </div>
</section>