<section>
    <div class="companyDetailsBg">
        <div class="profileHead">Project Details</div>
        <p class="pageNavigation ng-binding detailPages"> <a href="#"> {{company_Name}}</a> <i class="fa fa-angle-right" aria-hidden="true"></i>  Project Details  </p>
        <div class="clear">&nbsp;</div>            
        <div ng-class="{0 : 'last'}[($index+1) % 4]" class="perCompanyBox" ng-repeat="project in projects">
           <div class="profileHead2" ng-init="limit = 13; moreShown = false"><span class="projectIconClass"> </span><a href="#/server" ng-click="setProjectId(project.id)" class="projectHeading">{{ project.projectName | limitTo: limit}}{{project.projectName.length > limit ? '...' : ''}}</a></div>
           <a href="javascript:void(0)" ng-click="$parent.selectedIndex = $index;showOptions($index,$event)" class="settingsIcon">
            <span class="companySettingIcon"></span> </a>
           <div ng-if="project.servers.length > 0 && project.activities.length > 0" class="settingsPop" ng-show="$parent.selectedIndex == $index?visible:false">
                <ul>
                    <li ng-show="project.activities.indexOf('All')>=0 || project.activities.indexOf('Change Server Key')>=0"><a href="javascript:void(0)" ng-click="showPopup('updateServerKey', project.id)" >Update Server Key</a></li>
                    <li ng-show="project.activities.indexOf('All')>=0 || project.activities.indexOf('Edit Project')>=0"><a href="javascript:void(0)" ng-click="showPopup('EditProjectName',project.id,project.projectName)" >Edit Project Name</a></li>
                    <li ng-if = "project.servers[0].autoKeyRotation==0" ng-show="project.activities.indexOf('All')>=0 || project.activities.indexOf('Start/Stop Auto Key Rotation')>=0"><a href="javascript:void(0)" ng-click="showPopup('startKeyAutoRotation', project.id)">Start Auto Key Rotation</a></li>
                    <li ng-if = "project.servers[0].autoKeyRotation==1" ng-show="project.activities.indexOf('All')>=0 || project.activities.indexOf('Start/Stop Auto Key Rotation')>=0"><a href="javascript:void(0)" ng-click="showPopup('stopKeyAutoRotation', project.id)">Stop Auto Key Rotation</a></li>
                </ul>
            </div>
            <ul class="projectUl">
               <li ng-repeat="server in project.servers" ng-if="$index <= 1"><a href="#/server" ng-click="setProjectId(project.id)">{{ server.serverName}}</a></li>
            </ul>
            <a class="moreClass" ng-click="setProjectId(project.id)" ng-if="project.servers.length > 2" href="#/server">more 
              <span class="companyArrowIcon"> </span></a>
        </div>
    </div>
        <div class="page_messages">
            <div class="slidePopUpCommon companySlidePopUp" ng-show="createProjectPopUp">
               <h3 class="whiteText boldFont">Create new Project</h3>
               <i id="companyCloseBtn" class="fa fa-times secureLoginCloseIcon" ng-click="createProjectPopUp=false"></i>
           </div>  
          </div>
</section>