<!-- Register Section -->
<!-- <div class="logoHeader">
    <div class="logodiv">
       <div class="headerOne formHeading">Register</div>
    </div>
</div> -->
<section class="loginsection">
    <div class="content-wrapper marginTopAll">

        <div class="loginLogo">
            <div class="profileHead headingBlue">Sign Up</div>
        </div>
        <div class="clear"></div>
        <div class="clear"></div>
        <section class="loginsection">
            <div class="content-wrapper">
                <div class="loginBox">
                    <div class="forgotText dontHaveText">You have an account of InfraGuard? <a href="#login">Login</a></div>
                    <!--  <div class="loginLogo">Register</div>
                    <div class="clear">&nbsp;</div> -->
                    <form name="signupForm" novalidate>
                        <div class="formFieldMain">
                            <div class="loginLabel">Username</div>
                            <input id="Text1" name="txtUsername" ng-model="txtUsername" type="text" placeholder="" required="" />
                            <span class="colorRed errorField" ng-show="!registerFailed && !signupForm.txtUsername.$valid && (signupForm.txtUsername.$dirty || signupForm.txtUsername.$touched)">Username is required.</span>
                        </div>
                        <div class="formFieldMain">
                            <div class="loginLabel">Admin Email</div>
                            <input id="Text3" name="txtEmail" ng-blur="email_blur()" ng-model="txtEmail" type="email" placeholder="" required="" />
                            <span class="colorRed errorField" ng-show="!registerFailed && signupForm.txtEmail.$error.required && (signupForm.txtEmail.$dirty || signupForm.txtEmail.$touched)">Email is required.</span>
                            <span class="colorRed errorField" ng-show="!registerFailed && signupForm.txtEmail.$error.email && (signupForm.txtEmail.$dirty || signupForm.txtEmail.$touched)">Email is invalid.</span>
                        </div>
                        <div class="formFieldMain">
                            <div class="loginLabel">Password</div>
                            <input id="Text2" passw-validation name="txtPassw" ng-minlength="8" ng-maxlength="32" ng-blur="passw_blur()" ng-model="txtPassw" type="password" placeholder="" required="" />
                            <span class="colorRed errorField" ng-show="!registerFailed && signupForm.txtPassw.$error.required && (signupForm.txtPassw.$dirty || signupForm.txtPassw.$touched)">Password is required.</span>
                            <span class="colorRed errorField" ng-show="!registerFailed && (signupForm.txtPassw.$error.minlength || signupForm.txtPassw.$error.maxlength)">Password must be between 8-32 characters.</span>
                            <span class="colorRed errorField" ng-show="!registerFailed && signupForm.txtPassw.$error.specialValidate">Password should contain atleast one special character.</span>
                            <span class="colorRed errorField" ng-show="!registerFailed && signupForm.txtPassw.$error.upperValidate">Password should contain atleast one Uppercase letter.</span>
                        </div>
                        <span class="termsOfServices">By continuing, you accept our <a href="javascript:void(0)">terms of service.</a></span>
                        <input id="Password1" passw-validation name="btnSubmit" ng-model="btnSubmit" type="submit" value="SignUp" ng-click="register()" />
                        <div class="clear"></div>
                    </form>
                    <div>
                        <!--  <p class="colorRed" ng-show="registerFailed">{{ registerMsg }}</p> -->
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </section>
    </div>
</section>
<!-- Register Section End---->
