<section class="eachServiceDetailsSec">
  <div class="blueHeading boldFont"> User List</div>
  <button class="addUserButton boldFont"  ng-click="open('addUserOpen')"> <span class="eachAdduserIcon"></span> Add User</button>
  <div class="clear"></div>
  <div class="tableDv">
    <div class="clear"></div>
    <table class="commonTbMain commonThpadding userListTble">
      <thead>
        <tr>
          <th>Sr. No. </th>
          <th>User List</th>
          <th>User Access Level</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr class="trclass" ng-repeat="userListArr  in userListName ">
          <td>{{$index}}</td>
          <td>{{userListArr[0]}} </td>
          <td>
            <button class="rootGreyButton" ng-class="{rootButton: userListArr[1] =='root'}" ng-click="GetDetailsindex(userListArr)"> <span class="rightSignIcon" ng-if="userListArr[1] =='root'"></span>root</button>
            <button class="rootGreyButton" ng-class="{rootButton: userListArr[1] =='user'}" ng-click="GetDetailsindexUser(userListArr)"><span class="rightSignIcon" ng-if="userListArr[1] =='user'"></span>User</button>
          </td>
          <td> 
            <button class="rootGreyButton deleteIconButton" ng-click="deleteUser(userListArr)"> <span class="deleteIcon"></span> Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
      </section>
  